# Папки сборки
build-*/
*-build-*
build/

# Файлы Qt Creator
*.user
*.autosave
.qtcreator/

# Временные файлы
*.o
*.exe
*.dll
*.so
*.a
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp

# Папки компиляторов (если есть)
debug/
release/

server/
get_context.py
context.txt
sources.txt
project.zip
project.rar
my_server.zip
my_server
messanger_server